.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0056b3;
  color: white;
  padding: 0 1rem;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo {
  height: 40px;
  margin-right: 1rem;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item, .nav-item a, .nav-item button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  position: relative;
}

.nav-item:hover, .nav-item a:hover, .nav-item button:hover {
  background-color: #004a8d;
}

.login-button {
  background-color: #ffdd57;
  border: none;
  color: #333;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover {
  background-color: #fcb92c;
  transform: scale(1.05);
}

.login-icon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.navbar-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
  top: 100%;
  left: 0;
  border-radius: 4px;
}

.nav-item.dropdown .dropdown-content {
  display: none;
}

.nav-item.dropdown:hover .dropdown-content {
  display: block;
}

.nav-item.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-item.dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.nav-item.active, 
.dropdown-item.active {
  background-color: #6c97bf;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
  }

  .navbar-items, .navbar-brand {
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .nav-item, .nav-item a, .nav-item button {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    margin: 2px 0;
  }

  .dropdown-content {
    width: 100%;
  }
}
